body {
  font-family: 'Lato', sans-serif;
}

.fa-btn {
  margin-right: 6px;
}

#remember-me-checkbox {
  display: inline-block;
  margin-top: 0;
}

.col-right-offset-110 {
  padding-right: 132px;
}

.col-fixed-right-110 {
  position: absolute;
  right: 0;
  padding-right: 15px;
  margin-right: 17px;
}

.col-left-offset-150 {
  padding-left: 150px;
  padding-right: 15px;
}

.col-fixed-left-150 {
  position: absolute;
  left: 0;
  padding-left: 15px;
  //margin-left: 17px;
}

#pwd-strength-viewport-progress {
  .progress {
    margin-bottom: 0;
    position: absolute;
    z-index: 1001;
    top: 18px;
    right: 35px;
    width: 60px;
    height: 10px;
  }
}

.image-container {
  max-width: 500px;
}

.dropzone {
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #777;
  background-color: #f4f4f4;
  min-height: 240px;
}

.dropzone:hover {
  background-color: #eee;
}

.dz-message {
  font-size: 24px;
}

#post-image-controllers {
  text-align: right;
}

#title {
  height: 120px;
}

@import "dropzone-preview";
